* {
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;

}
header {
    border-bottom: gray 1px solid;
    margin-bottom: 30px;
    }

main {
    overflow: hidden;
    
}

form {
    width: 80%;
    margin: 0 auto;
    background-color:  rgb(245, 245, 245);
    border-right: 1px yellow solid;
    border-left: 1px yellow solid;
    padding: 25px;
}

#botones {
    font-weight: bold;
    color: white;
    cursor: pointer;
    width: 40%;
    padding: 5px;
    margin: 0 10px 20px 0;
    border: none;
    background: rgb(247, 214, 27);
    border-radius: 8px 8px 8px 8px;
}
#botones:hover {
    font-weight: bold;
    color:  rgb(247, 214, 27);
    cursor: pointer;
    width: 40%;
    padding: 5px;
    margin: 0 10px 20px 0;
    border:  1px rgb(247, 214, 27) solid;
    background: rgb(250, 250, 250);
    border-radius: 8px 8px 8px 8px;
}

nav {
        
        display: inline;
        float: left;
        border-right: gray 1px solid;
        width: 20%;
        height: 100%;
        padding-left: 10px;
}
ul {
    display: inline;
    list-style: none;

}
li {
    margin-top: 15px;
}


section{

     display: inline;
     float: right;
     width: 75%;
}

img {
    float: right;
}

article {
    display: inline;
}

p {
    margin-left: 20px;
    line-height: 15px;
}

footer {
    width: 100%;
    background-color: gray;
    overflow: hidden;
    padding: 20px;
}
a {
    
    text-decoration: none;
    margin-top: 25px;
}

a.avolver {
        font-size: 18px;
        color: black;
}

a.afoot {
    text-align: right;
    color: white;
    font-weight: 700;
    }


.caractfooter {
    float: left;
    text-align: right;
    
}
.navfoot {
    float:right;
    height: auto;
}

ul.ulfoot {
    list-style: none;
    text-align: right;
    display: inherit;
}